@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', cursive;
    --fonte-sora: 'Sora', cursive;
}

/*CSS GERAL*/

* {
    box-sizing: border-box;
    font-family: var(--fonte-poppins);
    margin: 0;
    padding: 0;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

header {
    background-color: var(--cor0);
    
}

.top-header {
    background-color: #fff;
    margin-top: 20px;
}

.top-header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-header .btn-header button {
    background-color: transparent;
    border: 1px solid var(--cor1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: .8s;
}

.top-header .btn-header button:hover {
    background-color: var(--cor1);
}

.top-header .btn-header button a {
    color: var(--cor1);
    font-size: 20px;
    padding: 13px;
    transition: .5s;
}

.top-header .btn-header button a:hover {
    color: var(--cor4);
}

.top-header .btn-header button i.bi-whatsapp:hover {
    color: springgreen;
}

.bottom-header nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bottom-header nav ul li a {
    color: var(--cor1);
    display: block;
    font-weight: bolder;
    padding: 20px;
    text-decoration: none;
}

.bottom-header nav ul li a:hover {
    color: var(--cor2);
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    background-color: var(--cor0);
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: .5s;
}

.drop-hover:hover .drop {
    height: 210px;
}

.flex {
    display: flex;
    gap: 50px;
}


p {
    text-align: justify;
}




/* MENU MOBILE
.menu-mobile {
    background-color: #3b280d;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile nav ul {
    text-align: right;
    list-style-type: none;
}

.menu-mobile nav ul li {
    padding: 20px 4%;
}

.menu-mobile nav ul li a {
    color: var(--cor0);
    display: block;
    font-size: 20px;
    padding: 10px 8%;
    text-decoration: none;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    font-weight: 600;
}

.menu-mobile .btn-fechar {
    padding: 20px 8%;
}

.menu-mobile .btn-fechar i {
    color: var(--cor0);
    font-size: 30px;
}

.btn-abrir-menu i {
    color: var(--cor1);
    font-size: 40px;
}

.overlay-menu {
    background-color: #3b280dc5;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 98;
    width: 100%;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu .overlay-menu {
    display: block;
} */

