@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #7457c585;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --fonte-sora: 'Sora', cursive;
    --fonte-bebas: 'Bebas', cursive;
}

/*BLOCO GERAL*/

* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

/* BLOCO DO HEADER */

header {
    padding: 30px 4%;
}

header > .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header a{
    color: var(--cor1);
    display: inline-block;
    text-decoration: none;
    transition: .5s;
}

header a:hover {
    color: var(--cor4);
    display: inline-block;
    transform: scale(1.1);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}


header .btn-contato button {
    background-color: var(--cor2);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 5px #000;
}







/* MENU MOBILE
.menu-mobile {
    background-color: #3b280d;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile nav ul {
    text-align: right;
    list-style-type: none;
}

.menu-mobile nav ul li {
    padding: 20px 4%;
}

.menu-mobile nav ul li a {
    color: var(--cor0);
    display: block;
    font-size: 20px;
    padding: 10px 8%;
    text-decoration: none;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    font-weight: 600;
}

.menu-mobile .btn-fechar {
    padding: 20px 8%;
}

.menu-mobile .btn-fechar i {
    color: var(--cor0);
    font-size: 30px;
}

.btn-abrir-menu i {
    color: var(--cor1);
    font-size: 40px;
}

.overlay-menu {
    background-color: #3b280dc5;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 98;
    width: 100%;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu .overlay-menu {
    display: block;
} */

